body {
    padding-bottom: 10vh;
}

/* parent container <fieldset> */
.r-pill {
    border: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 4vw;
    bottom: 4vh;
    display: flex;
}

/* radio groups need a legend */
.r-pill legend {
    display: block;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: .5em;
    padding: 0;
    width: 100%;
}

/*
	Optional inner wrapper (<div>) to provide additional styling.
*/
.r-pill__group {
    background: #fafafa;
    border: 1px solid #083851;
    border-radius: 2em;
    display: inline-block;
    padding: .25em;
}

.r-pill__item {
    display: inline-block;
    position: relative;
    border-color: var(--highlight);
}

.r-pill input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 2px solid;
    height: 100%;
    left: 0;
    opacity: .00001;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.r-pill__item label {
    border-radius: 2em;
    border: 2px solid var(--highlight);
    display: block;
    padding: .25em .75em;
    transition: background 0.5s ease-in,
    background 0.3s ease-out;
}

.r-pill__item input:not(:checked) + label {
    background: var(--background-color);
}

.r-pill__item input:hover ~ label,
.r-pill__item label:hover {
    border-color: var(--border-highlight);
    background-color: var(--secondary-highlight);
}

label.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 1rem;
    border-right-width: 1px;
}

label.middle {
    border-radius: 0;
    border-right-width: 1px;
    border-left-width: 1px;
}

label.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 1px;
    margin-right: 1rem;
}

label.lone {
    margin-right: 1rem;
}

label + label {
    margin-left: 0;
}

.r-pill[disabled] .r-pill__item input:checked + label:hover,
.r-pill__item input:checked + label {
    background: var(--highlight);
    color: #fff;
}


.r-pill__item label:after {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2em;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none; /* 1 */
    position: absolute;
    right: 0;
    top: 0;
    transition: bottom .5s ease-in-out,
    border-color .5s ease-in-out,
    left .5s ease-in-out,
    right .5s ease-in-out,
    top .5s ease-in-out;

}


/**
 * Disabled
 */
.r-pill[disabled],
.r-pill__item input[disabled] + label {
    opacity: .5;
}

.r-pill__item input[disabled] ~ label,
.r-pill__item input[disabled] ~ label:hover,
.r-pill[disabled] label:hover {
    background: transparent;
    border-color: transparent;
    cursor: not-allowed;
}


/**
 * Undo styling that makes these pills appear as
 * if they are all checked in high contrast mode.
 */
@media screen and (-ms-high-contrast: active) {
    .r-pill__item label {
        border: 0;
        margin: 2px;
    }

    .r-pill__item input:checked + label {
        border: 2px solid;
        margin: 0;
    }

    .r-pill__item input:hover ~ label,
    .r-pill__item label:hover {
        text-decoration: underline;
    }

    .r-pill[disabled] .r-pill__item label:hover,
    .r-pill[disabled] .r-pill__item input:hover ~ label {
        text-decoration: none
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-background);
    backdrop-filter: blur(2px);
}

.modal-content {
    background-color: var(--background-color);
    margin: 2rem auto;
    padding: 5px 20px 20px;
    border: 1px solid var(--highlight-background-color);
    width: var(--max-body-width);
    max-width: 90%;
    border-radius: 1rem;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
    color: var(--highlight);
}

.border {
    border: 2px solid var(--highlight);
    margin: 1rem 0;
    padding: 0 1rem;
    border-radius: 1rem;
    overflow: auto;
}

.border > .small {
    display: none;
}

.bordersmall {
    border: 2px solid var(--highlight);
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    overflow: auto;
}

.bordersmall > .small {
}

.bordersmall > .big {
    display: none;
}

.bordererror {
    border-color: red;
}

.controls {
    float: right;
}

.modal-content input, .modal-content button, .modal-content label {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

.multiselect {
    margin-bottom: 0.5rem;
}

label.select {
    transition: background-color ease-in-out 0.25s;
    border: 1px solid var(--secondary-highlight);
    margin-right: 0.5rem;
}

label.select:hover {
    border-color: var(--highlight);
}

input:checked + label.select  {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

input.select {
    display: none;
}

.validationerror {
    font-size: small;
    color: red;
    font-style: italic;
    margin-left: 1rem;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: var(--highlight);
}

.quickadd {
    float: left;
}

.quickadd:placeholder-shown {
    font-style: italic;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity ease-in-out .5s;
}

.fade-leave-active {
    transition-delay: .3s;
}

.fade-enter, .fade-leave-to  {
    opacity: 0;
}

.slide-enter-active, .slide-leave-active {
    transition: all ease-in-out .5s;
}

.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: top;
}

.list-enter-active, .list-leave-active {
    transition: all .5s;
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(100px);
}

.list-move {
    transition: transform 0.5s;
}

.checkboxlist-enter-active, .checkboxlist-leave-active {
    transition: all 0.5s;
}

.checkboxlist-enter, .checkboxlist-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.checkboxlist-move {
    transition: transform 1s;
}

:root {
    color-scheme: light dark;
    --modal-background: rgba(0, 0, 0, 0.25);
    --highlight: #2196f3;
    --secondary-highlight: #74b8ee;
    --border-highlight: #87bde7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --modal-background: rgba(255, 255, 255, 0.25);
        --highlight: #2196f3;
        --secondary-highlight: #74b8ee;
        --border-highlight: #fff;
    }
}