<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="js/recipehelper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<div id="vueRecipe">
    <div v-if="loading">
        Loading...
    </div>
    <div v-else>
        <recipe
                v-bind:recipe="recipe"
                v-bind:subrecipes="subrecipes"
                v-bind:mode="mode"></recipe>
        <button @click="switchMode">Switch view</button>
    </div>
</div>
</body>
</html>


<script>
    Vue.component('ingredient-item', {
        props: ['ingredient', 'step', 'mode', 'subrecipes'],
        template: `
        <li>
            <span v-if="ingredient && ingredient.optional" style="color: grey">[Optional] </span>
            <span v-if="ingredient && ingredient.name">{{ ingredient.name }} ({{ ingredient.quantity }}{{ ingredient.unit }})</span>
            <span v-if="ingredient && ingredient.notes"> - {{ ingredient.notes }}</span>
            <span v-if="step" style="color: grey"> {{ step }}</span>
            <span v-if="ingredient && ingredient.subrecipe" @click="toggleSubrecipe(ingredient)">
                <span v-if="ingredient.showSubrecipe">-</span>
                <span v-else>+</span>
            </span>
            <span v-if="ingredient && ingredient.subrecipe && ingredient.showSubrecipe">
                <recipe
                v-if="subrecipes[ingredient.subrecipe]"
                v-bind:recipe="subrecipes[ingredient.subrecipe]"
                v-bind:subrecipes="subrecipes"
                v-bind:mode="mode"></recipe>
                <div v-else>Loading...</div>
            </span>
        </li>
        `,
        methods: {
            toggleSubrecipe: function (ingredient) {
                if (ingredient.subrecipe) {
                    if (!ingredient.subrecipeData && ingredient.subrecipe) {
                        this.$root.loadSubrecipe(ingredient.subrecipe);
                    }
                    this.$root.toggleShowSubrecipeFor(ingredient);
                }
            }
        }
    });
    Vue.component('step-item', {
        props: ['step'],
        template: `
        <li>
            <div>
                <h5>{{ step.name}}</h5>
                <p>{{ step.description }}</p>
            </div>
        </li>
         `
    });
    Vue.component('verbose-recipe', {
        props: ['recipe', 'subrecipes', 'mode'],
        template: `
            <div>
                <p v-if="recipe.forkName && recipe.forkUrl">Forked from: <a v-bind:href="recipe.forkUrl">{{ recipe.forkName }}</a></p>
                <h1>{{ recipe.name }}</h1>
                <h2>Ingredients</h2>
                <ingredient-item-list
                    v-bind:ingredients="recipe.ingredients"
                    v-bind:subrecipes="subrecipes"
                    v-bind:mode="mode"></ingredient-item-list>
                <h2>Steps</h2>
                <ul>
                    <step-item
                            v-for="step in recipe.steps"
                            v-bind:step="step"
                            v-bind:ingredients="recipe.ingredients"
                            v-bind:key="step.id">
                    </step-item>
                </ul>
            </div>
        `
    });
    Vue.component('ingredient-item-list', {
        props: ['ingredients', 'subrecipes', 'mode'],
        template: `
        <ul>
                <ingredient-item
                        v-for="ingredient in ingredients"
                        v-bind:ingredient="ingredient"
                        v-bind:subrecipes="subrecipes"
                        v-bind:mode="mode"
                        v-bind:key="ingredient.id">
                </ingredient-item>
            </ul>
        `
    });
    Vue.component('condensed-step-list', {
        props: ['steps', 'subrecipes'],
        template: `
        <ul>
            <ingredient-item
                    v-for="stepObj in steps"
                    v-bind:ingredient="stepObj.ingredient"
                    v-bind:step="stepObj.step"
                    v-bind:subrecipes="subrecipes"
                    v-bind:mode="'condensed'"
                    v-bind:key="stepObj.ingredient ? stepObj.ingredient.id : stepObj.step.id">
            </ingredient-item>
        </ul>
        `
    });
    Vue.component('recipe', {
        props: ['recipe', 'subrecipes', 'mode'],
        template: `
        <div v-if="mode === 'verbose'">
            <verbose-recipe v-bind:recipe="recipe" v-bind:subrecipes="subrecipes" v-bind:mode="mode"></verbose-recipe>
        </div>
        <div v-else-if="mode === 'condensed'">
            <condensed-step-list v-bind:steps="recipe.condensedSteps" v-bind:subrecipes="subrecipes"></condensed-step-list>
        </div>
        `
    });

    const app = new Vue({
        el: '#vueRecipe',
        data: {
            "loading": true,
            "mode": getParameterByName("view") || 'verbose',
            "recipe": {},
            "subrecipes": {}
        },
        methods: {
            getRecipe: function () {
                getRecipeData(getParameterByName("recipe"), recipeData => {
                    this.recipe = recipeData;
                    this.loading = false;
                });
            },
            switchMode: function () {
                this.mode = this.mode === 'condensed' ? 'verbose' : 'condensed';
            },
            loadSubrecipe: function (subrecipe) {
                if (subrecipe && !this.subrecipes[subrecipe]) {
                    getRecipeData(subrecipe, subrecipeData => {
                        this.subrecipes = {
                            ...this.subrecipes,
                            [subrecipe]: subrecipeData
                        };
                    });
                }
            },
            toggleShowSubrecipeFor: function (ingredient) {
                this.recipe = this.toggleShowSubrecipeInRecipe(ingredient, this.recipe);
                this.subrecipes = Object.fromEntries(Object.entries(this.subrecipes).map(([k, v]) => [k, this.toggleShowSubrecipeInRecipe(ingredient, v)]));
            },
            toggleShowSubrecipeInRecipe: function (ingredient, recipe) {
                let newRecipe = {
                    ...recipe,
                    ingredients: recipe.ingredients.map(i => i === ingredient ? {
                        ...i,
                        showSubrecipe: !i.showSubrecipe
                    } : i)
                };
                return {
                    ...newRecipe,
                    condensedSteps: getCondensedRecipe(newRecipe)
                };
            }
        },
        created: function () {
            this.getRecipe();
        }
    });

</script>
