<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="js/recipehelper.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.1.8/dist/vue.js"></script>
    <script type="text/javascript" src="js/markdown.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/convert-units.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fraction.js@4.0.13/fraction.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.5"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<div id="vueRecipe">
    <nav v-if="navrecipes">
        <ul>
            <navrecipecategory v-for="recipe in navrecipes"
                               v-bind:category="recipe"
                               v-bind:key="recipe.category ? recipe.category : recipe.id"></navrecipecategory>
        </ul>
    </nav>
    <div v-if="!recipeId">
        <title>Thom's Recipes</title>
        Select a recipe
    </div>
    <div v-else-if="loading">
        <title>{{ recipeId }}</title>
        Loading...
    </div>
    <div v-else>
        <main>
            <title>{{ recipe.name }}</title>
            <span>Yield<span v-if="unit"> ({{ unit }})</span>:<input v-model="quantity"></span>
            <recipe
                    v-bind:recipe="recipe"
                    v-bind:subrecipes="subrecipes"
                    v-bind:mode="mode"
                    v-bind:path="'0'"
                    v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
                    v-bind:quantity="quantity"
                    v-bind:unit="unit"></recipe>
            <div v-if="readmeVisible" id="myModal" class="modal" @click="hideReadme">
                    <div class="modal-content" v-on:click.stop>
                        <span class="close" @click="hideReadme">&times;</span>
                        <vue-markdown>{{ readme }}</vue-markdown>
                    </div>

            </div>
        </main>
        <footer>
            <fieldset class="r-pill">
                    <span class="r-pill__item" @click="setVerboseMode">
                        <input type="radio" id="r1" name="radios" v-bind:checked="mode === 'verbose'">
                        <label for="r1" class="left">Verbose view</label>
                    </span>
                    <span class="r-pill__item" @click="setCondensedMode">
                        <input type="radio" id="r2" name="radios" v-bind:checked="mode === 'condensed'">
                        <label for="r2" class="right">Condensed view</label>
                    </span>
                <span class="r-pill__item" @click="showReadme">
                    <input id="r3" name="radios">
                    <label for="r3">?</label>
                </span>
            </fieldset>
        </footer>
    </div>
</div>
</body>
</html>


<script>
    Vue.component('navrecipecategory', {
        props: ['category'],
        template: `
          <li>
          <div v-if="category.category">
            <span>{{ category.category }}</span>
            <ul v-if="category.recipes">
              <navrecipecategory v-for="recipe in category.recipes"
                                 v-bind:category="recipe"
                                 v-bind:key="recipe.category ? recipe.category : recipe.id"></navrecipecategory>
            </ul>
          </div>
          <div v-else-if="category.id">
            <a @click="this.setRecipeId">{{ category.name }}</a>
          </div>
          </li>
        `,
        methods: {
            setRecipeId: function () {
                this.$root.setRecipeId(this.category.id, true);
            }
        }
    })
    Vue.component('recipe', {
        props: ['recipe', 'subrecipes', 'mode', 'path', 'visiblesubrecipepaths', 'quantity', 'unit'],
        methods: {
            getScale: function () {
                if (isNaN(this.quantity)) {
                    return 1;
                } else if (this.recipe.yieldUnit === this.unit) {
                    return this.quantity / this.recipe.yield;
                } else if (convert().possibilities().includes(this.recipe.yieldUnit) &&
                    convert().list(convert().describe(this.recipe.yieldUnit).measure).map(u => u.abbr).includes(this.unit)) {
                    return convert(this.quantity).from(this.unit).to(this.recipe.yieldUnit) / this.recipe.yield;
                } else {
                    return 1;
                }
            }
        },
        template: `
          <div v-if="mode === 'condensed'">
          <condensed-step-list
              v-bind:recipe="recipe"
              v-bind:subrecipes="subrecipes"
              v-bind:path="path"
              v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
              v-bind:scale="getScale()"></condensed-step-list>
          </div>
          <div v-else-if="mode === 'verbose'">
          <verbose-recipe
              v-bind:recipe="recipe"
              v-bind:subrecipes="subrecipes"
              v-bind:mode="mode"
              v-bind:path="path"
              v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
              v-bind:scale="getScale()"></verbose-recipe>
          </div>

        `
    });
    Vue.component('condensed-step-list', {
        props: ['recipe', 'subrecipes', 'path', 'visiblesubrecipepaths', 'scale'],
        template: `
          <ul>
          <ingredient-item
              v-for="stepObj in recipe.condensedSteps"
              v-bind:ingredient="stepObj.ingredient"
              v-bind:step="stepObj.step"
              v-bind:subrecipes="subrecipes"
              v-bind:mode="'condensed'"
              v-bind:path="path"
              v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
              v-bind:key="stepObj.ingredient ? stepObj.ingredient.id : stepObj.step.id"
              v-bind:scale="scale">
          </ingredient-item>
          </ul>
        `
    });
    Vue.component('verbose-recipe', {
        props: ['recipe', 'subrecipes', 'visiblesubrecipepaths', 'path', 'mode', 'scale'],
        template: `
          <div>
          <p v-if="recipe.forkName && recipe.forkUrl">Forked from: <a
              v-bind:href="recipe.forkUrl">{{ recipe.forkName }}</a></p>
          <h1>{{ recipe.name }}</h1>
          <h2>Ingredients</h2>
          <ingredient-item-list
              v-bind:ingredients="recipe.ingredients"
              v-bind:subrecipes="subrecipes"
              v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
              v-bind:path="path"
              v-bind:mode="mode"
              v-bind:scale="scale"></ingredient-item-list>
          <h2>Steps</h2>
          <ul>
            <step-item
                v-for="step in recipe.steps"
                v-bind:step="step"
                v-bind:ingredients="recipe.ingredients"
                v-bind:scale="scale"
                v-bind:key="step.id">
            </step-item>
          </ul>
          </div>
        `
    });
    Vue.component('ingredient-item-list', {
        props: ['ingredients', 'subrecipes', 'mode', 'path', 'visiblesubrecipepaths', 'scale'],
        template: `
          <ul>
          <ingredient-item
              v-for="ingredient in ingredients"
              v-bind:ingredient="ingredient"
              v-bind:subrecipes="subrecipes"
              v-bind:mode="mode"
              v-bind:path="path"
              v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
              v-bind:key="ingredient.id"
              v-bind:scale="scale">
          </ingredient-item>
          </ul>
        `
    });
    Vue.component('ingredient-item', {
        props: ['ingredient', 'step', 'mode', 'subrecipes', 'path', 'visiblesubrecipepaths', 'scale'],
        data: function () {
            if (this.ingredient) {
                return {
                    newPath: this.path + '.' + this.ingredient.id
                }
            } else {
                return {
                    newPath: this.path
                }
            }
        },
        template: `
          <li>
          <ingredient-details v-bind:ingredient="ingredient" v-bind:scale="scale"/>
          <span v-if="step" style="color: #808080"><span v-if="ingredient"> - </span>{{ step }}</span>
          <span v-if="ingredient && ingredient.subrecipe" @click="toggleSubrecipe()">
                <span v-if="visiblesubrecipepaths.includes(newPath)">-</span>
                <span v-else>+</span>
            </span>
          <span v-if="ingredient && ingredient.subrecipe && visiblesubrecipepaths.includes(newPath)">
                <recipe
                    v-if="subrecipes[ingredient.subrecipe]"
                    v-bind:recipe="subrecipes[ingredient.subrecipe]"
                    v-bind:subrecipes="subrecipes"
                    v-bind:mode="mode"
                    v-bind:path="newPath"
                    v-bind:visiblesubrecipepaths="visiblesubrecipepaths"
                    v-bind:quantity="ingredient.quantity*scale"
                    v-bind:unit="ingredient.unit"></recipe>
                <div v-else>Loading...</div>
            </span>
          </li>
        `,
        methods: {
            toggleSubrecipe: function () {
                if (this.ingredient.subrecipe && !this.subrecipes[this.subrecipe]) {
                    this.$root.loadSubrecipe(this.ingredient.subrecipe);
                }
                this.$root.toggleShowSubrecipeFor(this.newPath);

            },
        }
    });
    Vue.component('ingredient-details', {
        props: ['ingredient', 'scale'],
        template: `
          <span>
          <span v-if="ingredient && ingredient.optional" style="color: grey">[Optional] </span>
          <span v-if="ingredient && ingredient.name"
                :title="scale*ingredient.quantity + ingredient.unit">{{ ingredient.name }}
            {{ getAmountString(scale * ingredient.quantity, ingredient.unit) }}</span>
          <span v-if="ingredient && ingredient.notes" style="color: #a5a5a5"> - {{ ingredient.notes }}</span>
          </span>
        `,
        methods: {
            getAmountString: function (quantity, unit) {
                return getAmountString(quantity, unit)
            }
        }
    });
    Vue.component('step-item', {
        props: ['step', 'ingredients', 'scale'],
        template: `
          <li>
          <div>
            <h5>{{ step.name }}</h5>
            <ul>
              <li
                  v-for="ingredient in (step.ingredients||[]).map(id => ingredients.filter(i => i.id===id)[0])"
                  v-bind:ingredient="ingredient">
                <ingredient-details v-bind:ingredient="ingredient" v-bind:scale="scale"></ingredient-details>
              </li>
            </ul>
            <p>{{ step.description }}</p>
          </div>
          </li>
        `
    });

    Vue.component("vue-markdown", VueMarkdown.default);

    const app = new Vue({
        el: '#vueRecipe',
        data: {
            "loading": false,
            "mode": getParameterByName("view") || 'verbose',
            "recipe": {},
            "quantity": "",
            "unit": "",
            "subrecipes": {},
            "visiblesubrecipepaths": [],
            "navrecipes": {},
            "recipeId": "",
            "readmeVisible": false,
            "readme": "Loading"
        },
        methods: {
            getNavRecipes: function () {
                jQuery.getJSON("recipes/discoverablerecipes.json", data => this.navrecipes = data);
            },
            setRecipeFromQueryParam: function () {
                const recipeId = getParameterByName("recipe");
                if (recipeId) {
                    this.setRecipeId(recipeId, false);
                }
            },
            setRecipeId: function (recipeId, updateHistory) {
                this.recipeId = recipeId;
                this.recipe = {};
                this.visiblesubrecipepaths = [];
                this.loading = true;
                this.getRecipe(recipeId);
                if (updateHistory) {
                    const newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?recipe=' + recipeId;
                    window.history.pushState({path: newurl}, '', newurl);
                }
            },
            getRecipe: function (recipeId) {
                if (this.subrecipes[recipeId]) {
                    this.setRecipeData(this.subrecipes[recipeId]);
                } else {
                    getRecipeData(recipeId, recipeData => {
                        this.subrecipes[recipeId] = recipeData;
                        this.setRecipeData(recipeData);
                    });
                }
            },
            setRecipeData: function (recipeData) {
                this.recipe = {
                    yield: 1,
                    ...recipeData
                };
                this.quantity = this.recipe.yield;
                this.unit = recipeData.yieldUnit;
                this.loading = false;
            },
            switchMode: function () {
                this.mode = this.mode === 'condensed' ? 'verbose' : 'condensed';
            },
            setCondensedMode: function() {
                this.mode = 'condensed';
            },
            setVerboseMode: function() {
                this.mode = 'verbose';
            },
            loadSubrecipe: function (subrecipe) {
                if (subrecipe && !this.subrecipes[subrecipe]) {
                    getRecipeData(subrecipe, subrecipeData => {
                        this.subrecipes = {
                            ...this.subrecipes,
                            [subrecipe]: subrecipeData
                        };
                    });
                }
            },
            toggleShowSubrecipeFor: function (path) {
                if (this.visiblesubrecipepaths.includes(path)) {
                    this.visiblesubrecipepaths = this.visiblesubrecipepaths.filter(p => p !== path);
                } else {
                    this.visiblesubrecipepaths = [
                        ...this.visiblesubrecipepaths,
                        path
                    ];
                }
            },
            showReadme: function () {
                this.readmeVisible = true;
            },
            hideReadme: function() {
                this.readmeVisible = false;
            }
        },
        created: function () {
            this.getNavRecipes();
            this.setRecipeFromQueryParam();
            jQuery.get("README.md", md => this.readme=md);
        }
    });

    window.onpopstate = function () {
        app.setRecipeFromQueryParam();
    }

</script>
